@import "../../global/mixins.scss", "../../global/colors.scss";

.dashboard {
  @include default;
  margin: 70px auto;

  h1 {
    color: $primary-emphasis;
    text-align: center;
    text-transform: uppercase;
  }
}
