@import "../../global/mixins.scss", "../../global/colors.scss";

.dashboard {
  @include default;
  margin: 70px auto;

  h1 {
    color: $primary-emphasis;
    text-align: center;
    text-transform: uppercase;
  }
  section {
    h2 {
      color: $primary-emphasis;
      margin-top: 40px;
      border-bottom: 1px solid $backgroud-emphasis;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-size: 1.8em;
      text-transform: uppercase;
    }

    div {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

      article {
        border: 1px solid $backgroud-emphasis;
        background: linear-gradient(45deg, $backgroud-emphasis, $backgroud);
        padding: 20px;
        border-radius: 8px;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        text-align: flex-start;
        display: flex;
        justify-content: center;
        gap: 10px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            color: $primary;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            color: $secondary;
            background-color: $backgroud-emphasis;
          }
        }

        p {
          color: $secondary;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 1em;
        }

        button {
          @include secondaryButton;
          margin-top: auto;
          width: 100%;
          padding: 10px;
          border-radius: 8px;
        }

        a {
          margin-top: auto;
        }
      }
    }
  }
}
