@import "../../global/mixins.scss", "../../global/colors.scss";

.profile-container {
  @include default;
  margin-top: 80px;

  .profile-info {
    @include flex(center, center, row);
    gap: 20px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    div {
      @include flex(space-between, flex-start, column);
      gap: 10px;
    }
  }

  .personal-bot-container {
    background: linear-gradient(45deg, $backgroud-emphasis, $backgroud);
    border: 2px solid $backgroud-emphasis;
    border-radius: 6px;
    padding: 20px;

    margin-top: 30px;
    width: 100%;
    gap: 20px;

    hr {
      border: none;
      border-top: 1px solid $secondary-emphasis;
    }

    .user {
      padding: 0;
      margin: 10px 0;
      gap: 20px;
    }

    div {
      width: 100%;
      form {
        @include flex(
          $justify: flex-start,
          $align: flex-start,
          $direction: column
        );
        width: 100%;

        .buttons {
          @include flex(
            $justify: space-between,
            $align: center,
            $direction: row
          );
        }
      }
    }
  }
}

.personal-bot {
  margin-top: 20px;
  width: 100%;
  .name {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    .text-input {
      @include flex(
        $justify: flex-start,
        $align: flex-start,
        $direction: column
      );
      margin-top: auto;
      gap: 0;
      width: 100%;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 12px;
    }

    input[type="file"] {
      display: none;
    }
  }

  .select-input {
    margin-top: 20px;
  }

  .activity-container {
    @include flex($justify: center, $align: center, $direction: row);
    margin: 20px 0;
    gap: 10px;

    .select-input {
      margin-top: 0;
      width: 30%;
    }
  }
}
