@import "../../global/mixins.scss", "../../global/colors.scss";

.profile-container {
  @include default;
  margin-top: 80px;

  .profile-info {
    @include flex(center, center, row);
    gap: 20px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    div {
      @include flex(space-between, flex-start, column);
      gap: 10px;
    }
  }
}
