@import "../../../global/colors.scss", "../../../global/mixins.scss";

.chat-managment {
  position: relative;
  display: flex;
  section {
    @include dashContent;
    width: 100%;
    h1 {
      width: 100%;
      text-align: center;
    }
    form {
      width: 100%;
      height: 80vh;
      @include disableScroll;
      overflow-y: scroll;
      .item-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 50px;
        width: 100%;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          width: fit-content;
        }
        article {
          background-color: $backgroud-emphasis;
          padding: 20px;
          border-radius: 12px;
        }
      }
    }
    .infractions-card {
      background-color: $backgroud-emphasis;
      padding: 20px;
      border-radius: 12px;
      margin-bottom: 20px;
    }
  }
}
