@import "../global/colors.scss", "../global/mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

#features {
    background-color: #FFACDF1A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1.25rem;

    h2 {
        color: $primary;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.875rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.25rem;

    }


    .features-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        grid-gap: .625rem;

        margin: 1.25rem;

    }
}
