@import "../global/colors.scss", "../global/mixins.scss";
.main-container {
  position: relative;
  display: flex;
  .layout-container {
    width: 100%;

    form {
      @include dashContent;
      width: 100%;
      height: calc(100vh - 80px);
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}
