@import "../global/colors.scss", "../global/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


.navbar {
    color: $primary;
    padding: 1rem;

    .navbar-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .navbar-link:first-child {
            margin-left: 1rem;
            color: $primary-emphasis;
        }

        .navbar-link {
            color: $primary;
            margin-right: 1rem;
            font-size: 1.25rem;
            font-weight: 400;
            font-family: "Questrial", sans-serif;
        }

        .navbar-link:hover {
            color: $primary-emphasis;
        }

        .navbar-link.active {
            color: $primary-emphasis;
        }

        .navbar-link.active:hover {
            color: $primary-emphasis-hover;
        }
    }

    .navbar-logo {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
    }

    .navbar-logo:hover {
        cursor: pointer;
    }

    .login-btn {
        color: $primary-emphasis;
        border: .0625rem solid $primary-emphasis;
        border-radius: .25rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
            transform: scale(1.05);
        }

    }
}
