@import "../global/mixins.scss", "../global/colors.scss";

.personal-bot {
  @include dashDefault;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      @include title;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      span {
        color: $primary-emphasis;
        font-size: 2em;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .bot-preview {
    form {
      display: flex;

      input[type="file"] {
        display: none;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 12px;
        object-fit: contain;
        cursor: pointer;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        input {
          margin: 0;
          width: 100%;
        }
      }

      textarea {
        @include textInput;
        width: 100%;
        resize: none;
        margin-top: 10px;
        height: 125px;
        font-size: 1em;
      }
    }
  }

  section {
    margin-top: 40px;
    h2 {
      color: $primary;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      label {
        color: $primary;
        font-size: 1.2em;
        span {
          color: $danger;
        }
      }

      input {
        @include textInput;
        width: 100%;
        margin-top: 10px;
        font-size: 1em;
      }

      div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          @include primaryButton;
          margin-top: 10px;
          padding: 5px 20px;
          border-radius: 5px;
          font-size: 1em;
        }

        .change-btn {
          @include secondaryButton;
          padding: 5px 20px;
          border-radius: 5px;
          font-size: 1em;
        }
      }
    }
  }
}
